ignore/*
ignore/ignore_images/bw_400.png
ignore/ignore_images/bw_400.webp
ignore/ignore_images/bw.jpg
ignore/ignore_images/bw.webp
ignore/ignore_images/chiemseherin-mountains-2745129.jpg
ignore/ignore_images/color_700.jpg
ignore/ignore_images/color_700.webp
ignore/ignore_images/cross_one.jpg
ignore/ignore_images/cross_two.jpg
ignore/ignore_images/desat_700_dark.jpg
ignore/ignore_images/desat_700.jpg
ignore/ignore_images/desat_700.webp
ignore/ignore_images/free-photo-of-metal-cross-on-zugspitz.jpeg
ignore/ignore_images/iStock-1058510172.jpg
ignore/ignore_images/istockphoto-1058510172-1024x1024.jpg
ignore/ignore_images/PXL_20250921_064007894.jpg
ignore/ignore_images/signal-2025-09-22-06-55-42-970-16.jpg
ignore/ignore_images/simon-zugspitze-824403.jpg
