:root{
	--b1: #023047;
	--b4: #98c1d9;
	--w2: #DEE3ED; 
	--menu-height: 75px;
}

*{
	scroll-margin-top: 86px; /* put here for non-mobile device; changed in media query later on */
	padding: 0; /* reset */
	margin: 0;  /* reset */
	box-sizing: border-box; /* simpler */
	scroll-behavior: smooth; 
}
html, body{
	/* to prevent Cumulative Layout Shift (CLS) */
	overflow-x: hidden;
    width: 100%;
}
body {
	margin: 0;
	padding: 0;
	color: #262626;
	
	/* darker background behind everything */
	background: repeating-linear-gradient(75deg, #023047, #3d5a80, #023047 15%);
}
h1, h2, h3 {
	font-family: "IM Fell English", serif;
	font-style: normal;
}
h3{
	font-size: 1.5rem;
	padding-top: 0.7rem;
	padding-bottom: 0.6rem;
	color: #262626;
}
h2 {
	font-size: 2.5rem;
 	text-indent: 1rem;
	color: #262626;
}

section{
	margin: 75px 0; /* 75px is the same as the nav-bar height */
	/* changed 1vh to 0 on wide margins... to prevent Cumulative Layout Shift (CLS) */
	padding: 20px 1vh;
	background-color: #b9d0de;
	border-radius: 18px;
	border: 2px solid #eeb34d;

	/* FONT OF REGULAR TEXT IN WEBPAGE */
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	/* font-size: 1.1rem; */
	font-family: "Montserrat", sans-serif; /* consider also Fira sans */
	font-weight: 600;
	font-style: normal;
	line-height: 2;
}
section img {
	filter: grayscale();
	border: 3px solid #262626;
}
section li {
	margin-top: 1rem;
	margin-left: 2rem;
	list-style-type: disc;
	
}
section p, section ul {
	padding-bottom: 1rem;
	padding-top: 1rem;
}


table {
	border: 3px solid #3d5a80; 
	/* ///padding: 1px 1px; */
}
table th {
	padding: 5px 10px;
	background-color: #3d5a80;
	color: #e0fbfc;
}
table td {
	padding: 0 2px;
	border-top: 1px solid #3d5a80;
}
table .sp {
	font-weight: bold;
	background-color: #8aa8cf;
}


.flex-container-1{ /* at least used in hike route options */
	display: flex;
	flex-wrap: wrap;
	flex: 1; 
	gap: 20px; 
	justify-content: space-evenly; 
	align-items: center; 
	margin-bottom: 0.5rem;
}
.flex-container-1 td {
	padding: 3px 10px;
	border-left: 1px solid #3d5a80;
}
.flex-container-1 td:nth-child(1) {
	border-left: none;
}
.flex-container-2 table { /* at least used in hike route options */
	margin: 0 auto;
}
.flex-container-2 td {
	padding: 3px 10px;
	border-left: 1px solid #3d5a80;
}
.flex-container-2 td:nth-child(1) {
	border-left: none;
}
/* bulleted links in row flexbox */
.flex-container-bulleted-links {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	cursor: pointer;
}
.flex-container-bulleted-links a{
	padding: 0.06rem 0.5rem;
	align-self: center;
	border-radius: 0.9rem;
	white-space: nowrap;
	background:#8aa8cf;
	color: #262626;
	text-decoration: none;
}

/* ========= expansion functionalities ============================= */
#pack-expansion {
	display: none;
}
#misc-expansion {
	display: none;
}
#hike-expansion {
	display: none;
}
#weat-expansion {
	display: none;
}
#huts-expansion {
    display: none;
	/* height: 50px; */
	/* height: 0; */
	transition: height 0.5s;
	/* max-height: 50px; */
	overflow: hidden;
	/* transition: max-height 0.5s ease-in-out; */
	/* animation: slow 3s ease forwards; */
}
/* below is for JS solution, does not apply to css solution */
/* #huts-expansion.expanded {
	height: auto; 
	height: calc-size(auto);
} */
/* @keyframes slow { from { max-height: 1rem; } to { max-height: calc-size(auto); } } */
#pack-expand-toggle:checked + #pack-expansion {
    display: block;
}
#misc-expand-toggle:checked + #misc-expansion {
    display: block;
}
#huts-expand-toggle:checked + #huts-expansion {
    display: block;
}
#hike-expand-toggle:checked + #hike-expansion {
    display: block;
}
#weat-expand-toggle:checked + #weat-expansion {
    display: block;
}
input[type="checkbox"] {
    position: absolute;
    left: -1000px;
    /* appearance: none; */
}
label {
    display: block;
    text-decoration: underline;
	color: #3d5a80;
	/* color: gray; */
}

#pack-expand-toggle + #pack-expansion + label::before {
	content: "Show more";
}
#misc-expand-toggle + #misc-expansion + label::before {
	content: "Show more";
}
#huts-expand-toggle + #huts-expansion + label::before {
	content: "Show more";
}
#hike-expand-toggle + #hike-expansion + label::before {
    content: "Show more";
}
#weat-expand-toggle + #weat-expansion + label::before {
    content: "Show more";
}

#pack-expand-toggle:checked ~ #pack-expansion + label::before {
	content: "Show less";
}
#misc-expand-toggle:checked ~ #misc-expansion + label::before {
	content: "Show less";
}
#huts-expand-toggle:checked ~ #huts-expansion + label::before {
	content: "Show less";
}
#hike-expand-toggle:checked ~ #hike-expansion + label::before {
    content: "Show less";
}
#weat-expand-toggle:checked ~ #weat-expansion + label::before {
    content: "Show less";
}


/* ========== CONTACT FORM =================================================== */
input,
button,
select,
textarea {
	font: inherit;
}
form {
	display: grid;
	gap: 1rem;
	/* @media screen and (width > 600px) {
		
		grid-template-columns: 1fr 1fr
	} */
}
/* label {
	font-size: 1rem;
} */
/* input {
	background: #3d5a80;
	color:#b9d0de
} */

/* ============ TOP-IMAGE ==================================================== */
/* top image section */
section#top_image {
	/*undo styling which is applicable to other sections */
	border-radius: 0; /* other sections use border-radius for better curved section boundaries */
	border: none;
	
	/* other styles for this section */
	border-top: 126px solid #262626;
	background-color: var(--b1);
	background-image: url("images/2962m.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
section#top_image h1 {
	display: none; /* h1 is replaced by the image */
}
header {
	background-color: #262626;
}
header a, header li {
	color: #e0fbfc;
	text-decoration: none;	
	list-style-type: none;
	font-size: 1.2rem;
}
.center-viewport {
	max-width: 1280px; /* limit width of viewport to prevent too wide */
	margin: 0 auto; /* centers the content horizontally */
}
/* ========= NAV-BAR AND NAV-MENU ============================================ */
/* placement of nav-bar and nav-menu */
.nav-bar {
	min-height: var(--menu-height);
	position: fixed;
	width: 100%;
	background-color: rgb(0,0,0, 0.4);
	
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 1rem;

	transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.nav-up { /* class added to nav-bar when user scrolls down, removed when user scrolls up */
    transform: translateY(-100%); /* Move nav-bar up by 100% of its height to hide it */
}
.nav-menu { /* the nav-menu is the ul element containing the nav-links */
	display: flex; /* ordinarily nav-menu is a horizontal list of nav-links 
				but becomes vertical in smallScreen view (see media query below) */
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.nav-bar .nav-branding { /* nav-branding is the h1 element with "2,962m asl" text */
	/* nav-bar is the entire top bar including the 2962m text and the nav-links */
	padding: 0rem 1rem;
	color: #e0fbfc;
	
	font-family: "IM Fell English", serif; /* font of "2,962m asl" in nav-bar */
	font-size: 3rem;
	font-style: italic;	
}
.nav-branding {
	transition: 0.2s ease;
}
.nav-branding:hover {
	color: white;
	text-shadow: #B79047 1px 1px 6px;
}
.nav-link {
	transition: 0.2s ease;
}
.nav-link:hover {
	color: white;
	text-shadow: #B79047 1px 1px 8px;
}
.hamburger {
	display: none;
	cursor: pointer;
}
.slice {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #e0fbfc;
}
/* ====== MEDIA QUERY FOR MOBILE SIZE SCREENS ================================ */
@media screen and (max-width: 650px) { /* if 600px is changed, also need to change the script.js file at "innerWidth" */
	

	.hamburger{ display: block; }
	.hamburger.active .slice:nth-child(2){ opacity: 0; }
	.hamburger.active .slice:nth-child(1){ transform: translateY(8px) rotate(45deg); }
	.hamburger.active .slice:nth-child(3){ transform: translateY(-8px) rotate(-45deg); }
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 75px; /* close to nav-bar height */
		display: flex;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active{
		left: 0;
	}
	header>a,header>li 
	{
		font-size: 1.3em;
	}
}




/* *********************** Career Goals styles *********************** */

#career-goals h1 {
    padding-left: 0;
}

#career-goals li, #other-goals li {
    margin-left: 1rem;
    margin-right: 1rem;
}

form {
    margin-left: 1vw;
    margin-right: auto;
}

.contact-me-form-flex {
    display: flex;
    width: 21rem;
    flex-direction: column;
    align-items: flex-end;
    background-color: #b6b2b2;
    color: black;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(29, 46, 0);
    margin-bottom: 1rem;
    padding-top: 0.7rem;
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    
    margin-left: 1rem;
    margin-right: 1rem;
}

input {
    background-color: white;
    padding: 0.2rem;
}

/* changes color of textarea when typing there citing help from
   https://www.w3schools.com/cssref/sel_focus.php */
input:focus {
    background-color: rgb(203, 233, 255);
}

.align-center {
    /* useful for centering flex-box items that would ordinarily be justified right */
    align-self: center;
}

textarea {
    align-self: center;
    background-color: white;
    width: 18rem;
    /* width: 100%; // this causes 50% right-justified here, poss due to flex-box */
    /* https://stackoverflow.com/questions/27939344/textarea-max-width
       helped me to fix the resize so it will not resize horizontally */
    resize: vertical;
    padding: 0.2rem;
}

/* changes color of textarea when typing there citing help from
   https://www.w3schools.com/cssref/sel_focus.php */
textarea:focus {
    background-color: rgb(203, 233, 255);
}

button {
    font-weight: 600;
    font-size: large;
    background-color: #B8A68E;
    padding: 0.5rem 2rem;
    margin: 1rem 0rem;
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(29, 46, 0);
    cursor: pointer;
}

/* this youtube video helped with adding the shadow effect to the 
   submit button https://www.youtube.com/watch?v=TGXRxYsfrZU */
button:active {
    box-shadow: -1px -1px rgb(29, 46, 0);
}