:root{
	--b1: #023047;
	--b2: #3d5a80;
	--b4: #98c1d9;
	--w2: #DEE3ED; 
	--menu-height: 75px;
}

*{
	/* universal selector to reset default margins and paddings */
	padding: 0;
	margin: 0;
	box-sizing: border-box; /* means padding and borders are included in overall width and height */
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--b1); /* darker background behind everything */
}

h2 {
	/* font-family: "IM Fell English", serif; */
}

section{
	scroll-margin-top: var(--menu-height); /* adjust link-movements to account for fixed nav-bar height */
	margin: 15px 0px;
	padding: 5px 10px;

	background-color: #b9d0de;
	border: 1px solid #eeb34d;
}


/* top image section */
section#top_image {
	border-top: 75px solid #262626;
	scroll-margin-top: 100px;	
	background-color: var(--b1);
	background-image: url(./images/2962m.webp);
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
section#top_image h1 {
	display: none; /* h1 is replaced by the image */
}
header {
	background-color: #262626;
}
header a,li {
	color: #e0fbfc;
	text-decoration: none;	
	list-style: none;
}
.center-viewport {
	max-width: 1000px;
	margin: 0 auto; /* centers the content horizontally */
}

/* placement of nav-bar and nav-menu */
.nav-bar {
	min-height: var(--menu-height);
	position: fixed;
	width: 100%;
	background-color: rgb(0,0,0, 0.4);
	

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 1rem;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.nav-bar .nav-branding {
	padding: 0rem 1rem;
	color: #e0fbfc;
	font-size: 3rem
}
.nav-branding {
	transition: 0.2s ease;
}
.nav-branding:hover {
	color: whitesmoke;
	text-shadow: whitesmoke 0px 0px 8px;
	/* font-weight: 600; */
}
.nav-link {
	transition: 0.2s ease;
}
.nav-link:hover {
	color: whitesmoke;
	text-shadow: whitesmoke 0px 0px 5px;
	/* font-weight: 600; */
}
.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #e0fbfc;
}

@media(max-width: 600px) { /* older version better? --> @media screen and (max-width: 600px) { */
	.hamburger{ display: block; }
	.hamburger.active .bar:nth-child(2){ opacity: 0; }
	.hamburger.active .bar:nth-child(1){ transform: translateY(8px) rotate(45deg); }
	.hamburger.active .bar:nth-child(3){ transform: translateY(-8px) rotate(-45deg); }
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 75px; /*3rem; /*63px; /*var(--menu-height); */
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active{
		left: 0;
	}
}

/* font-family: "IM Fell English", serif; */
.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}
.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}
